﻿{% load static from staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'reports/css/style.css' %}" />
</head>

<body>
    <img style="position:absolute;top:0.00in;left:0.00in;width:9.27in;height:12.00in" src="{% static 'reports/img/' %}ci_1.png" />
    <img style="position:absolute;top:0.00in;left:0.00in;width:9.27in;height:12.00in" src="{% static 'reports/img/' %}ci_2.png" />
    <img style="position:absolute;top:0.00in;left:0.00in;width:9.27in;height:27.94in" src="{% static 'reports/img/' %}ci_3.png" />
    <img style="position:absolute;top:0.00in;left:0.00in;width:9.27in;height:11.99in" src="{% static 'reports/img/' %}ci_4.png" />
    <img style="position:absolute;top:0.10in;left:0.00in;width:2.92in;height:1.19in" src="{% static 'reports/img/' %}ri_1.png" />
    <img style="position:absolute;top:1.44in;left:0.00in;width:9.27in;height:10.56in" src="{% static 'reports/img/' %}ci_5.png" />
    <img style="position:absolute;top:4.31in;left:5.41in;width:1.92in;height:0.18in" src="{% static 'reports/img/' %}ci_6.png" />
    <img style="position:absolute;top:4.31in;left:7.36in;width:0.64in;height:0.18in" src="{% static 'reports/img/' %}ci_7.png" />
    <img style="position:absolute;top:4.51in;left:1.36in;width:0.49in;height:0.18in" src="{% static 'reports/img/' %}ci_8.png" />
    <img style="position:absolute;top:4.51in;left:1.91in;width:0.55in;height:0.18in" src="{% static 'reports/img/' %}ci_9.png" />
    <img style="position:absolute;top:4.51in;left:3.00in;width:0.94in;height:0.18in" src="{% static 'reports/img/' %}ci_10.png" />
    <img style="position:absolute;top:4.51in;left:4.09in;width:0.76in;height:0.18in" src="{% static 'reports/img/' %}ci_11.png" />
    <img style="position:absolute;top:4.51in;left:5.18in;width:0.42in;height:0.18in" src="{% static 'reports/img/' %}ci_12.png" />
    <div style="position:absolute;top:1.68in;left:0.82in;width:8.08in;line-height:0.17in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Arial-BoldMT;color:#000000">
            INSTRUMENTO PARTICULAR DE INTERMEDIAÇÃO DE MATRÍCULAS E RESERVAS DE SERVIÇOS NO EXTERIOR
        </span>
        <br/>
    </div>

    <div style="position:absolute;top:2.31in;left:0.82in;width:2.91in;line-height:0.18in;">
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">
            As partes abaixo qualificadas, de um lado: 
        </span>
        <br/>
    </div>
    <div style="position:absolute;top:2.74in;left:1.09in;width:0.19in;line-height:0.21in;">
        <span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Roboto-Regular;color:#000000">
            1.
        </span>
        <br/>
    </div>
    <div style="position:absolute;top:2.77in;left:1.36in;width:7.54in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">NOME:  </span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000">CONSULTORIA  EM  PUBLICIDADE  DE  INTERCAMBIOS,  VIAGENS  E  TURISMO  EIRELI  -  ME</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">, </span></SPAN>
        <br/>
    </div>
    <div style="position:absolute;top:2.77in;left:1.36in;width:7.54in;line-height:0.17in;">
        <DIV style="position:relative; left:7.01in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">pessoa</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000"> </span>
            <br/>
            </SPAN>
        </DIV>
    </div>
    <!--<div style="position:absolute;top:3.00in;left:1.36in;width:7.57in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">jurídica </span></SPAN>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.00in;left:1.36in;width:7.57in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:0.58in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">de </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.00in;left:1.36in;width:7.57in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:0.83in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">direito </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.00in;left:1.36in;width:7.57in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:1.33in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">privado, </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.00in;left:1.36in;width:7.57in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:1.95in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">regularmente </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.00in;left:1.36in;width:7.57in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:2.91in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">inscrita </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.00in;left:1.36in;width:7.57in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:3.47in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">no </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.00in;left:1.36in;width:7.57in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:3.71in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">CNPJ </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.00in;left:1.36in;width:7.57in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:4.19in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">sob </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.00in;left:1.36in;width:7.57in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:4.51in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">no. </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.00in;left:1.36in;width:7.57in;line-height:0.19in;">-->
        <!--<DIV style="position:relative; left:4.79in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000">28.449.606/0001-28</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">,  com  sede  à  Rua </span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000"> </span>-->
            <!--<br/>-->
        <!--</DIV><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">Gonçalves  </span></SPAN>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.20in;left:1.36in;width:7.57in;line-height:0.18in;">-->
        <!--<DIV style="position:relative; left:0.82in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">dias,  </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.20in;left:1.36in;width:7.57in;line-height:0.18in;">-->
        <!--<DIV style="position:relative; left:1.25in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">142,  </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.20in;left:1.36in;width:7.57in;line-height:0.18in;">-->
        <!--<DIV style="position:relative; left:1.65in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">sala  </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.20in;left:1.36in;width:7.57in;line-height:0.18in;">-->
        <!--<DIV style="position:relative; left:2.05in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">207,  </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.20in;left:1.36in;width:7.57in;line-height:0.18in;">-->
        <!--<DIV style="position:relative; left:2.45in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">Funcionários,  </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.20in;left:1.36in;width:7.57in;line-height:0.18in;">-->
        <!--<DIV style="position:relative; left:3.47in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">Belo  </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.20in;left:1.36in;width:7.57in;line-height:0.18in;">-->
        <!--<DIV style="position:relative; left:3.88in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">Horizonte/MG,  </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.20in;left:1.36in;width:7.57in;line-height:0.18in;">-->
        <!--<DIV style="position:relative; left:4.98in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">CEP:  </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.20in;left:1.36in;width:7.57in;line-height:0.18in;">-->
        <!--<DIV style="position:relative; left:5.41in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">30.140-090,  </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.20in;left:1.36in;width:7.57in;line-height:0.18in;">-->
        <!--<DIV style="position:relative; left:6.30in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">Brasil,  </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.20in;left:1.36in;width:7.57in;line-height:0.19in;">-->
        <!--<DIV style="position:relative; left:6.82in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">doravante </span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000"> </span>-->
            <!--<br/>-->
            <!--</SPAN>-->
        <!--</DIV><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">denominada CONTRATADA.</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Roboto-Regular;color:#000000"> </span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Roboto-Regular;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:3.86in;left:1.36in;width:0.80in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">e do outro: </span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:4.06in;left:1.09in;width:0.19in;line-height:0.21in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Roboto-Regular;color:#000000">2.</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Roboto-Regular;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:4.09in;left:1.36in;width:6.79in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">Nome: </span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Arial-BoldMT;color:#000000">Andreza Assis Reis</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">, brasileiro(a), nascido(a) em </span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Arial-BoldMT;color:#000000">27/09/1992</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">, portador(a) do RG: </span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Arial-BoldMT;color:#000000"> 19.097.857</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Arial-BoldMT;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:4.32in;left:1.36in;width:6.68in;line-height:0.17in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Arial-BoldMT;color:#000000">SSPMG</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000"> e CPF: </span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Arial-BoldMT;color:#000000">12115086686</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">, residente e domiciliado(a) na </span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Arial-BoldMT;color:#000000">Rua Arthur Bernardes, 100 Apto 204</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Arial-BoldMT;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:4.52in;left:1.36in;width:1.13in;line-height:0.17in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Arial-BoldMT;color:#000000">Centro Alfenas</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Arial-BoldMT;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:4.52in;left:3.00in;width:0.98in;line-height:0.17in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Arial-BoldMT;color:#000000">Minas Gerais</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Arial-BoldMT;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:4.52in;left:4.09in;width:0.81in;line-height:0.17in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Arial-BoldMT;color:#000000">37.130-093</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Arial-BoldMT;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:4.52in;left:5.18in;width:0.49in;line-height:0.17in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Arial-BoldMT;color:#000000">Brasil</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">,</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:4.52in;left:5.67in;width:1.78in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">doravante denominado(a)</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:4.52in;left:7.45in;width:1.13in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">CONTRATANTE,</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:4.52in;left:8.58in;width:0.30in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">têm</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:4.75in;left:1.36in;width:2.44in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">entre si justo e acertado o presente:</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:5.20in;left:0.82in;width:8.08in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">INSTRUMENTO </span></SPAN>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:5.20in;left:0.82in;width:8.08in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:1.23in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">PARTICULAR </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:5.20in;left:0.82in;width:8.08in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:2.31in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">DE </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:5.20in;left:0.82in;width:8.08in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:2.64in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">INTERMEDIAÇÃO </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:5.20in;left:0.82in;width:8.08in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:4.03in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">DE </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:5.20in;left:0.82in;width:8.08in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:4.36in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">MATRÍCULAS </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:5.20in;left:0.82in;width:8.08in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:5.45in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">E </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:5.20in;left:0.82in;width:8.08in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:5.67in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">RESERVAS </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:5.20in;left:0.82in;width:8.08in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:6.60in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">DE </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:5.20in;left:0.82in;width:8.08in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:6.92in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">SERVIÇOS </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:5.20in;left:0.82in;width:8.08in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:7.81in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">NO</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000"> </span>-->
            <!--<br/>-->
            <!--</SPAN>-->
        <!--</DIV>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:5.42in;left:0.82in;width:6.32in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">EXTERIOR, mediante as seguintes cláusulas e condições que aceitam mutuamente, a saber:</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:5.86in;left:0.82in;width:2.79in;line-height:0.19in;"><span style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Arial-BoldMT;color:#000000">CLÁUSULA PRIMEIRA - Do Objeto</span><span style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Roboto-Bold;color:#000000"> </span><span style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Roboto-Bold;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.31in;left:1.09in;width:7.81in;line-height:0.21in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Roboto-Regular;color:#000000">1. </span></SPAN>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.34in;left:1.09in;width:7.81in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:0.27in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">Considerando </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.34in;left:1.09in;width:7.81in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:1.31in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">que </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.34in;left:1.09in;width:7.81in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:1.67in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">a </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.34in;left:1.09in;width:7.81in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:1.85in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">CONTRATADA </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.34in;left:1.09in;width:7.81in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:2.99in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">é </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.34in;left:1.09in;width:7.81in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:3.16in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">representante </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.34in;left:1.09in;width:7.81in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:4.18in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">da </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.34in;left:1.09in;width:7.81in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:4.44in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">instituição </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.34in;left:1.09in;width:7.81in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:5.20in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">supracitada, </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.34in;left:1.09in;width:7.81in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:6.11in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">assumindo </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.34in;left:1.09in;width:7.81in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:6.93in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">com </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.34in;left:1.09in;width:7.81in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:7.31in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">esta </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.34in;left:1.09in;width:7.81in;line-height:0.20in;">-->
        <!--<DIV style="position:relative; left:7.68in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">o</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000"> </span>-->
            <!--<br/>-->
        <!--</DIV>-->
        <!--<DIV style="position:relative; left:0.27in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">compromisso de intermediar matrículas e outros serviços;</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Roboto-Regular;color:#000000"> </span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Roboto-Regular;color:#000000"> </span>-->
            <!--<br/>-->
            <!--</SPAN>-->
        <!--</DIV>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.76in;left:1.09in;width:7.80in;line-height:0.21in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Roboto-Regular;color:#000000">2. </span></SPAN>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.79in;left:1.09in;width:7.80in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:0.27in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">Considerando </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.79in;left:1.09in;width:7.80in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:1.31in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">que </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.79in;left:1.09in;width:7.80in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:1.67in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">a </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.79in;left:1.09in;width:7.80in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:1.85in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">CONTRATADA, </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.79in;left:1.09in;width:7.80in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:3.03in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">dentre </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.79in;left:1.09in;width:7.80in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:3.56in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">outros </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.79in;left:1.09in;width:7.80in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:4.08in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">serviços, </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.79in;left:1.09in;width:7.80in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:4.78in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">presta </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.79in;left:1.09in;width:7.80in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:5.29in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">informações </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.79in;left:1.09in;width:7.80in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:6.20in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">específicas </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.79in;left:1.09in;width:7.80in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:7.04in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">quanto </span></SPAN>-->
        <!--</DIV>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:6.79in;left:1.09in;width:7.80in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:7.59in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">ao</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000"> </span>-->
            <!--<br/>-->
            <!--</SPAN>-->
        <!--</DIV>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:7.02in;left:1.36in;width:7.53in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">programa de estudo em escolas internacionais, como preço, formas de pagamento, duração e requisitos de</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:7.23in;left:1.36in;width:7.54in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">instituição de ensino, bem como orienta candidatos interessados quanto à documentação necessária para sua</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:7.43in;left:1.36in;width:0.82in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">realização;</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Roboto-Regular;color:#000000"> </span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Roboto-Regular;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:7.63in;left:1.09in;width:7.81in;line-height:0.21in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Roboto-Regular;color:#000000">3. </span></SPAN>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:7.66in;left:1.09in;width:7.81in;line-height:0.17in;">-->
        <!--<DIV style="position:relative; left:0.27in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">Considerando o interesse da CONTRATANTE em contratar os serviços oferecidos pela CONTRATADA, em</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000"> </span>-->
            <!--<br/>-->
            <!--</SPAN>-->
        <!--</DIV>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:7.91in;left:1.36in;width:4.00in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">especial os relacionados nos itens &quot;1&quot; e &quot;2&quot; desta cláusula.</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:8.64in;left:0.82in;width:2.01in;line-height:0.19in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">Escola/Instituição:</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000"> </span>-->
        <!--<br/><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">Tipo:</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> General English </span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">Horas/semana:</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> 15h/semana </span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:8.63in;left:2.04in;width:1.02in;line-height:0.18in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> Liffey College</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:9.25in;left:0.82in;width:1.57in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">Exame de proficiência:</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:9.25in;left:2.35in;width:1.46in;line-height:0.18in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> Definido pela escola</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:9.45in;left:0.82in;width:1.50in;line-height:0.19in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">Período:</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">Seguro:</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Arial-BoldMT;color:#000000"> Obrigatório </span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> </span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:9.45in;left:1.39in;width:0.69in;line-height:0.18in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> Matutino</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:9.87in;left:0.82in;width:1.28in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">Taxa de matrícula:</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:9.87in;left:2.06in;width:0.57in;line-height:0.18in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> Incluso</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:10.09in;left:0.82in;width:1.36in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">Nº de semanas:</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> 25 </span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:10.29in;left:0.82in;width:1.01in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">Data de início:</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:10.29in;left:1.79in;width:0.72in;line-height:0.18in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> Fevereiro</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:10.29in;left:2.47in;width:1.22in;line-height:0.17in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Arial-BoldMT;color:#000000">/2019 (previsão)</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> </span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:8.64in;left:5.35in;width:1.05in;line-height:0.19in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">País:</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">Cidade:</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> Dublin </span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:8.63in;left:5.70in;width:0.55in;line-height:0.18in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> Irlanda</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:9.04in;left:5.35in;width:0.97in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000">Acomodação:</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:ArialMT;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:9.04in;left:6.28in;width:1.27in;line-height:0.18in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> incluso 1 semana</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:9.25in;left:5.35in;width:1.92in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">Tipo:</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> Residência estudantil</span><span style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Roboto-Bold;color:#000000"> </span><span style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Roboto-Bold;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:9.45in;left:5.35in;width:3.92in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">Data de chegada:</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> Definido após compra do bilhete aéreo</span><span style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Roboto-Bold;color:#000000"> </span><span style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Roboto-Bold;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:9.66in;left:5.35in;width:1.33in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">Data de saida:</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> N/A </span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:9.86in;left:5.35in;width:0.64in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">Transfer:</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:9.86in;left:5.96in;width:0.57in;line-height:0.18in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> Incluso</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Roboto-Bold;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <!--<div style="position:absolute;top:10.06in;left:5.35in;width:0.50in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000">Extras:</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Roboto-Regular;color:#000000"> </span>-->
        <!--<br/>-->
        <!--</SPAN>-->
    <!--</div>-->
    <img style="position:absolute;top:11.00in;left:4.41in;width:0.85in;height:0.85in" src="{% static 'reports/img/' %}ri_2.png" />

    <!-- New page -->
    <!--<p style="page-break-before: always" ></p>-->



</body>

</html>